body, div, address, blockquote, iframe, ul, ol, dl, dt, dd, p, pre, table, caption, th, td, form, legend, fieldset { margin: 0; padding: 0; }


input, button, select, textarea { font-size: 100%; font-family: "Lucida Grande" ,Helvetica,Arial,sans-serif; }
input.text { padding: 2px 1px; height: 1.4em; line-height: 1.4; }
input.text, textarea { border: 1px solid; border-color: #b4b4b4 #e8e8e8 #e8e8e8 #b4b4b4; }
 
textarea { overflow: auto; }
label[for], input[type="button"], input[type="submit"] { cursor: pointer; }
input[type="text"], input[type="password"] { border-left: 1px solid #b4b4b4; border-right: 1px solid #e8e8e8; border-top: 1px solid #b4b4b4; border-bottom: 1px solid #e8e8e8; }
fieldset { padding: 0.5em; border: 1px solid #CCCCCC; -moz-border-radius: 3px; }

legend { color: #445566; font-weight: bold; padding: 1px 6px 2px 6px; *margin-left:-5px;-moz-border-radius: 3px; }

a, input, textarea, select, button { font-size: 12px; font-family: Tahoma, SimSun, sans-serif; }


textarea { line-height: 1.4; }
input.disabled { border-color: #ccc; background: #f5f5f5 none; }
input.inputButton { border-left: 1px solid #b9c4cf; border-right: 1px solid #afbac5; border-top: 1px solid #c3ced9; border-bottom: 1px solid #99a6b4; overflow: visible; color: #4c82a8; background: #fff url('http://www.zving.com/demo/Images/buttonBg.gif') repeat-x left bottom; cursor: pointer; height: 21px; padding-left: 8px; padding-right: 7px; vertical-align: middle; border-top-left-radius: 3px; border-top-right-radius: 3px; border-bottom-right-radius: 3px; border-bottom-left-radius: 3px; }
input.inputText { margin: 0; border-left: 1px solid #8899AA; border-right: 1px solid #AABBCC; border-top: 1px solid #778899; border-bottom: 1px solid #AABBCC; color: #336699; background: #F7FAFC url( 'Images/text_bg.gif' ) repeat-x left top; padding: 2px; vertical-align: middle; }
input[type="text"] { margin: 0; border-left: 1px solid #8899AA; border-right: 1px solid #AABBCC; border-top: 1px solid #778899; border-bottom: 1px solid #AABBCC; color: #336699; background: #F7FAFC url( 'Images/text_bg.gif' ) repeat-x left top; padding: 2px; vertical-align: middle;   }
textarea { border-left: 1px solid #778899; border-right: 1px solid #AABBCC; border-top: 1px solid #667788; border-bottom: 1px solid #AABBCC; color: #336699; line-height: 19px; padding: 1px 1px 1px 4px; background: #F7FAFC url( 'Images/default/textarea_bg.gif' ); height: 69px; margin: 0; -moz-border-radius: 2px; -webkit-border-radius: 2px; overflow: scroll; overflow-x: hidden; }
/****button background:#eee url(../images/highlight_1.gif) repeat-x;***/

fieldset { padding: 0.5em; border: 1px solid #CCCCCC; -moz-border-radius: 3px; }
legend { color: #445566; font-weight: bold; padding: 1px 6px 2px 6px; margin-left: -5px; -moz-border-radius: 3px; }

.tablelist tr { height: 26px; }

input, textarea, select { text-decoration: none; font-family: inherit; font-size: inherit; font-weight: inherit; }


.notnull { color: red; padding-top: 13px; padding-left: 2px; }

table {
	border-collapse: collapse;
}
table.cellspacing {
	border-collapse: separate; border-spacing: 5px;
}
input {
	margin: 0px; color: rgb(17, 68, 119); vertical-align: middle;
}
input.inputText {
	 height: 18px;background: url("../Images/text_bg.gif") repeat-x left bottom rgb(247, 250, 252); border-width: 1px; border-style: solid; border-color: rgb(136, 153, 170) rgb(187, 204, 221) rgb(187, 204, 221) rgb(153, 170, 187); padding:2px; color: rgb(51, 102, 153); vertical-align: middle;
}
input[type='text'] {
    height: 18px;	background: url("../Images/text_bg.gif") repeat-x left bottom rgb(247, 250, 252); border-width: 1px; border-style: solid; border-color: rgb(136, 153, 170) rgb(187, 204, 221) rgb(187, 204, 221) rgb(153, 170, 187); padding: 2px; color: rgb(51, 102, 153); vertical-align: middle; -moz-border-radius: 2px; -webkit-border-radius: 2px;
}
input[type='password'] {
	 height: 18px;background: url("../Images/text_bg.gif") repeat-x left bottom rgb(247, 250, 252); border-width: 1px; border-style: solid; border-color: rgb(136, 153, 170) rgb(187, 204, 221) rgb(187, 204, 221) rgb(153, 170, 187); padding: 2px; color: rgb(51, 102, 153); vertical-align: middle; -moz-border-radius: 2px; -webkit-border-radius: 2px;
}
input.inputTextHover {
	border-color: rgb(255, 187, 0);
}
input[type='text']:hover {
	border-color: rgb(255, 187, 0);
}
input[type='password']:hover {
	border-color: rgb(255, 187, 0);
}
textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus, 
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
  border-color: rgba(82, 168, 236, 0.8);
  outline: 0;
  outline: thin dotted ;
  /* IE6-9 */

  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(82,168,236,.6);
  -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(82,168,236,.6);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(82,168,236,.6);
}
textarea {
	background: url("../Images/textarea_bg.gif") rgb(247, 250, 252); border-width: 1px; border-style: solid; border-color: rgb(136, 153, 170) rgb(187, 204, 221) rgb(187, 204, 221) rgb(153, 170, 187); margin: 0px; padding: 1px 1px 1px 4px; height: 80px; color: rgb(51, 102, 153); line-height: 19px; -moz-border-radius: 2px; -webkit-border-radius: 2px;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
  display: block;
}

audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

audio:not([controls]) {
  display: none;
}

html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
}

a:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

a:hover,
a:active {
  outline: 0;
}

sub,
sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  max-width: 100%;
  vertical-align: middle;
  border: 0;
  -ms-interpolation-mode: bicubic;
}

#map_canvas img {
  max-width: none;
}

button,
input,
select,
textarea {
  margin: 0;
  font-size: 100%;
  vertical-align: middle;
}

button,
input {
  *overflow: visible;
  line-height: normal;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  padding: 0;
  border: 0;
}

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
}

input[type="search"] {
  -webkit-box-sizing: content-box;
     -moz-box-sizing: content-box;
          box-sizing: content-box;
  -webkit-appearance: textfield;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

.clearfix {
  *zoom: 1;
}

.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
}

.clearfix:after {
  clear: both;
}

.hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}

.input-block-level {
  display: block;
  width: 100%;
  min-height: 28px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
      -ms-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  color: #333333;
  background-color: #ffffff;
}

a {
  color: #0088cc;
  text-decoration: none;
}

a:hover {
  color: #005580;
  text-decoration: underline;
}

.row {
  margin-left: -20px;
  *zoom: 1;
}

.row:before,
.row:after {
  display: table;
  content: "";
}

.row:after {
  clear: both;
}

[class*="span"] {
  float: left;
  margin-left: 20px;
}

.container,
.navbar-fixed-top .container,
.navbar-fixed-bottom .container {
  width: 940px;
}

.span12 {
  width: 940px;
}

.span11 {
  width: 860px;
}

.span10 {
  width: 780px;
}

.span9 {
  width: 700px;
}

.span8 {
  width: 620px;
}

.span7 {
  width: 540px;
}

.span6 {
  width: 460px;
}

.span5 {
  width: 380px;
}

.span4 {
  width: 300px;
}

.span3 {
  width: 220px;
}

.span2 {
  width: 140px;
}

.span1 {
  width: 60px;
}

.offset12 {
  margin-left: 980px;
}

.offset11 {
  margin-left: 900px;
}

.offset10 {
  margin-left: 820px;
}

.offset9 {
  margin-left: 740px;
}

.offset8 {
  margin-left: 660px;
}

.offset7 {
  margin-left: 580px;
}

.offset6 {
  margin-left: 500px;
}

.offset5 {
  margin-left: 420px;
}

.offset4 {
  margin-left: 340px;
}

.offset3 {
  margin-left: 260px;
}

.offset2 {
  margin-left: 180px;
}

.offset1 {
  margin-left: 100px;
}

.row-fluid {
  width: 100%;
  *zoom: 1;
}

.row-fluid:before,
.row-fluid:after {
  display: table;
  content: "";
}

.row-fluid:after {
  clear: both;
}

.row-fluid [class*="span"] {
  display: block;
  float: left;
  width: 100%;
  min-height: 28px;
  margin-left: 2.127659574%;
  *margin-left: 2.0744680846382977%;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
      -ms-box-sizing: border-box;
          box-sizing: border-box;
}

.row-fluid [class*="span"]:first-child {
  margin-left: 0;
}

.row-fluid .span12 {
  width: 99.99999998999999%;
  *width: 99.94680850063828%;
}

.row-fluid .span11 {
  width: 91.489361693%;
  *width: 91.4361702036383%;
}

.row-fluid .span10 {
  width: 82.97872339599999%;
  *width: 82.92553190663828%;
}

.row-fluid .span9 {
  width: 74.468085099%;
  *width: 74.4148936096383%;
}

.row-fluid .span8 {
  width: 65.95744680199999%;
  *width: 65.90425531263828%;
}

.row-fluid .span7 {
  width: 57.446808505%;
  *width: 57.3936170156383%;
}

.row-fluid .span6 {
  width: 48.93617020799999%;
  *width: 48.88297871863829%;
}

.row-fluid .span5 {
  width: 40.425531911%;
  *width: 40.3723404216383%;
}

.row-fluid .span4 {
  width: 31.914893614%;
  *width: 31.8617021246383%;
}

.row-fluid .span3 {
  width: 23.404255317%;
  *width: 23.3510638276383%;
}

.row-fluid .span2 {
  width: 14.89361702%;
  *width: 14.8404255306383%;
}

.row-fluid .span1 {
  width: 6.382978723%;
  *width: 6.329787233638298%;
}

.container {
  margin-right: auto;
  margin-left: auto;
  *zoom: 1;
}

.container:before,
.container:after {
  display: table;
  content: "";
}

.container:after {
  clear: both;
}

.container-fluid {
  padding-right: 20px;
  padding-left: 20px;
  *zoom: 1;
}

.container-fluid:before,
.container-fluid:after {
  display: table;
  content: "";
}

.container-fluid:after {
  clear: both;
}

p {
  margin: 0 0 9px;
}

p small {
  font-size: 11px;
  color: #999999;
}

.lead {
  margin-bottom: 18px;
  font-size: 20px;
  font-weight: 200;
  line-height: 27px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-family: inherit;
  font-weight: bold;
  color: inherit;
  text-rendering: optimizelegibility;
}

h1 small,
h2 small,
h3 small,
h4 small,
h5 small,
h6 small {
  font-weight: normal;
  color: #999999;
}

h1 {
  font-size: 30px;
  line-height: 36px;
}

h1 small {
  font-size: 18px;
}

h2 {
  font-size: 24px;
  line-height: 36px;
}

h2 small {
  font-size: 18px;
}

h3 {
  font-size: 18px;
  line-height: 27px;
}

h3 small {
  font-size: 14px;
}

h4,
h5,
h6 {
  line-height: 18px;
}

h4 {
  font-size: 14px;
}

h4 small {
  font-size: 12px;
}

h5 {
  font-size: 12px;
}

h6 {
  font-size: 11px;
  color: #999999;
  text-transform: uppercase;
}

.page-header {
  padding-bottom: 17px;
  margin: 18px 0;
  border-bottom: 1px solid #eeeeee;
}

.page-header h1 {
  line-height: 1;
}

ul,
ol {
  padding: 0;
  margin: 0 0 9px 25px;
}

ul ul,
ul ol,
ol ol,
ol ul {
  margin-bottom: 0;
}

ul {
  list-style: disc;
}

ol {
  list-style: decimal;
}

li {
  line-height: 18px;
}

ul.unstyled,
ol.unstyled {
  margin-left: 0;
  list-style: none;
}

dl {
  margin-bottom: 18px;
}

dt,
dd {
  line-height: 18px;
}

dt {
  font-weight: bold;
  line-height: 17px;
}

dd {
  margin-left: 9px;
}

.dl-horizontal dt {
  float: left;
  width: 120px;
  overflow: hidden;
  clear: left;
  text-align: right;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.dl-horizontal dd {
  margin-left: 130px;
}

hr {
  margin: 18px 0;
  border: 0;
  border-top: 1px solid #eeeeee;
  border-bottom: 1px solid #ffffff;
}

strong {
  font-weight: bold;
}

em {
  font-style: italic;
}

.muted {
  color: #999999;
}

abbr[title] {
  cursor: help;
  border-bottom: 1px dotted #999999;
}

abbr.initialism {
  font-size: 90%;
  text-transform: uppercase;
}

blockquote {
  padding: 0 0 0 15px;
  margin: 0 0 18px;
  border-left: 5px solid #eeeeee;
}

blockquote p {
  margin-bottom: 0;
  font-size: 16px;
  font-weight: 300;
  line-height: 22.5px;
}

blockquote small {
  display: block;
  line-height: 18px;
  color: #999999;
}

blockquote small:before {
  content: '\2014 \00A0';
}

blockquote.pull-right {
  float: right;
  padding-right: 15px;
  padding-left: 0;
  border-right: 5px solid #eeeeee;
  border-left: 0;
}

blockquote.pull-right p,
blockquote.pull-right small {
  text-align: right;
}

q:before,
q:after,
blockquote:before,
blockquote:after {
  content: "";
}

address {
  display: block;
  margin-bottom: 18px;
  font-style: normal;
  line-height: 18px;
}

small {
  font-size: 100%;
}

cite {
  font-style: normal;
}

code,
pre {
  padding: 0 3px 2px;
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
  font-size: 12px;
  color: #333333;
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
}

code {
  padding: 2px 4px;
  color: #d14;
  background-color: #f7f7f9;
  border: 1px solid #e1e1e8;
}

pre {
  display: block;
  padding: 8.5px;
  margin: 0 0 9px;
  font-size: 12.025px;
  line-height: 18px;
  word-break: break-all;
  word-wrap: break-word;
  white-space: pre;
  white-space: pre-wrap;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.15);
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
}

pre.prettyprint {
  margin-bottom: 18px;
}

pre code {
  padding: 0;
  color: inherit;
  background-color: transparent;
  border: 0;
}

.pre-scrollable {
  max-height: 340px;
  overflow-y: scroll;
}

form {
  margin: 0 0 18px;
}

fieldset {
  padding: 0;
  margin: 0;
  border: 0;
}

legend {
  display: block;
  width: 100%;
  padding: 0;
  margin-bottom: 27px;
  font-size: 19.5px;
  line-height: 36px;
  color: #333333;
  border: 0;
  border-bottom: 1px solid #e5e5e5;
}

legend small {
  font-size: 13.5px;
  color: #999999;
}

label,
input,
button,
select,
textarea {
  font-size: 13px;
  font-weight: normal;
  line-height: 18px;
}

input,
button,
select,
textarea {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

label {
  display: block;
  margin-bottom: 5px;
}

select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
  display: inline-block;
  height: 18px;
  padding: 2px; 
  font-size: 13px;
  line-height: 18px;
  color: #555555;
} 
textarea {
  height: auto;
}
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
  background-color: #ffffff;
  border: 1px solid #cccccc;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
  -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
  -ms-transition: border linear 0.2s, box-shadow linear 0.2s;
  -o-transition: border linear 0.2s, box-shadow linear 0.2s;
  transition: border linear 0.2s, box-shadow linear 0.2s;
}
textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
  border-color: rgba(82, 168, 236, 0.8);
  outline: 0;
  outline: thin dotted ;
  /* IE6-9 */

  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(82,168,236,.6);
  -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(82,168,236,.6);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(82,168,236,.6);
}
input[type="radio"],
input[type="checkbox"] {
  margin: 3px 0;
  *margin-top: 0;
  /* IE7 */

  line-height: normal;
  cursor: pointer;
}
input[type="submit"],
input[type="reset"],
input[type="button"],
input[type="radio"],
input[type="checkbox"] {
  width: auto;
}
.uneditable-textarea {
  width: auto;
  height: auto;
}
select,
input[type="file"] {
  height: 28px;
  /* In IE7, the height of the select element cannot be changed by height, only font-size */

  *margin-top: 4px;
  /* For IE7, add top margin to align select with labels */

  line-height: 28px;
}
select {
  width: 220px;
  border: 1px solid #bbb;
}
select[multiple],
select[size] {
  height: auto;
}
select:focus,
input[type="file"]:focus,
input[type="radio"]:focus,
input[type="checkbox"]:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
.radio,
.checkbox {
  min-height: 18px;
  padding-left: 18px;
}
.radio input[type="radio"],
.checkbox input[type="checkbox"] {
  float: left;
  margin-left: -18px;
}
.controls > .radio:first-child,
.controls > .checkbox:first-child {
  padding-top: 5px;
}
.radio.inline,
.checkbox.inline {
  display: inline-block;
  padding-top: 5px;
  margin-bottom: 0;
  vertical-align: middle;
}
.radio.inline + .radio.inline,
.checkbox.inline + .checkbox.inline {
  margin-left: 10px;
}
.input-mini {
  width: 60px;
}
.input-small {
  width: 90px;
}
.input-medium {
  width: 150px;
}
.input-large {
  width: 210px;
}
.input-xlarge {
  width: 270px;
}
.input-xxlarge {
  width: 530px;
}
input[class*="span"],
select[class*="span"],
textarea[class*="span"],
.uneditable-input[class*="span"],
.row-fluid input[class*="span"],
.row-fluid select[class*="span"],
.row-fluid textarea[class*="span"],
.row-fluid .uneditable-input[class*="span"] {
  float: none;
  margin-left: 0;
}
.input-append input[class*="span"],
.input-append .uneditable-input[class*="span"],
.input-prepend input[class*="span"],
.input-prepend .uneditable-input[class*="span"],
.row-fluid .input-prepend [class*="span"],
.row-fluid .input-append [class*="span"] {
  display: inline-block;
}
input,
textarea,
.uneditable-input {
  margin-left: 0;
}
input.span12, textarea.span12, .uneditable-input.span12 {
  width: 930px;
}
input.span11, textarea.span11, .uneditable-input.span11 {
  width: 850px;
}
input.span10, textarea.span10, .uneditable-input.span10 {
  width: 770px;
}
input.span9, textarea.span9, .uneditable-input.span9 {
  width: 690px;
}
input.span8, textarea.span8, .uneditable-input.span8 {
  width: 610px;
}
input.span7, textarea.span7, .uneditable-input.span7 {
  width: 530px;
}
input.span6, textarea.span6, .uneditable-input.span6 {
  width: 450px;
}
input.span5, textarea.span5, .uneditable-input.span5 {
  width: 370px;
}
input.span4, textarea.span4, .uneditable-input.span4 {
  width: 290px;
}
input.span3, textarea.span3, .uneditable-input.span3 {
  width: 210px;
}
input.span2, textarea.span2, .uneditable-input.span2 {
  width: 130px;
}
input.span1, textarea.span1, .uneditable-input.span1 {
  width: 50px;
}
.z-toolbar .z-btn { margin: 1px 0px 0px; }
.z-toolbar-ct { background: url("../images/bar.gif") no-repeat right -80px; padding-right: 6px; }
.z-toolbar-overflow { background: url("../images/bar.gif") repeat-x 0px 0px; height: 33px; overflow: hidden; font-size: 1px; }
.z-toolbar-nowrap { margin: 3px 0px 0px; height: 28px; overflow: hidden; white-space: nowrap; _width: 100%; }
.z-toolbar-nowrap * { font-size: 12px; font-weight: normal; vertical-align: middle; }
.z-tabpanel { background: url("../images/bar.gif") no-repeat 0px -160px; padding-left: 6px; }
.z-tabpanel-ct { background: url("../images/bar.gif") no-repeat right -200px; padding-right: 6px; }
.z-tabpanel-overflow { background: url("../images/bar.gif") repeat-x 0px -120px; height: 33px; overflow: hidden; font-size: 1px; }
.z-tabpanel-nowrap { overflow: hidden; white-space: nowrap; _width: 100%; }
.z-tabpanel-more { float: right; }
.z-tab { height: 25px; color: rgb(97, 102, 61); line-height: 25px; font-size: 12px; font-weight: normal; display: inline-block; cursor: pointer; -moz-user-select: none; }
.z-tab b { height: 25px; color: rgb(97, 102, 61); line-height: 25px; font-size: 12px; font-weight: normal; display: inline-block; cursor: pointer; -moz-user-select: none; }
.z-tab { background: url("../images/buttons.png") no-repeat 0px -140px; margin: 5px 0px 0px 3px; padding: 0px 0px 0px 18px; text-decoration: none; vertical-align: top; position: relative; }
.z-tab img { margin: 4px 5px 0px -3px; float: left; filter: Alpha(Opacity = 70); opacity: 0.7; _display: inline; }
.z-tab b { background: url("../images/buttons.png") no-repeat right -140px; padding: 0px 18px 0px 0px; }
.z-tab:hover { background: url("../images/buttons.png") no-repeat 0px -100px; text-decoration: none; }
.z-tab:hover b { background: url("../images/buttons.png") no-repeat right -100px; color: rgb(255, 255, 255); }
.z-tab-current { background: url("../images/buttons.png") no-repeat 0px -180px; height: 27px; margin-bottom: -1px; position: relative; _height: 26px; }
.z-tab-current:hover { background: url("../images/buttons.png") no-repeat 0px -180px; height: 27px; margin-bottom: -1px; position: relative; _height: 26px; }
.z-tab-current b { background: url("../images/buttons.png") no-repeat right -180px; height: 27px; color: rgb(255, 255, 255); _height: 26px; }
.z-tab-current:hover b { background: url("../images/buttons.png") no-repeat right -180px; height: 27px; color: rgb(255, 255, 255); _height: 26px; }
.z-tab-disabled { background: url("../images/buttons.png") no-repeat 0px -220px; cursor: not-allowed; }
.z-tab-disabled:hover { background: url("../images/buttons.png") no-repeat 0px -220px; cursor: not-allowed; }
.z-tab-disabled img { filter: gray Alpha(Opacity = 30); opacity: 0.3; }
.z-tab-disabled b { background: url("../images/buttons.png") no-repeat right -220px; color: rgb(187, 187, 187); }
.z-toolbar-flat { background: url("../images/bar.gif") no-repeat 0px -540px; }
.z-tab-disabled:hover b { background: url("../images/buttons.png") no-repeat right -220px; color: rgb(187, 187, 187); }
.z-toolbar-flat .z-toolbar-ct { background: url("../images/bar.gif") no-repeat right -500px; padding-right: 6px; }
.z-toolbar-flat .z-toolbar-overflow { background: url("../images/bar.gif") repeat-x 0px -500px; }
.z-toolbar-flat .z-toolbar-nowrap { margin-top: 2px; }

/**×Ó´°Ìå*/
#child_form { background: none;background-color: rgb(249, 249, 249);  }


.z-legend {
	background: url("../images/legend_bg.png") no-repeat left; margin: 3px 0px; height: 30px; line-height: 25px; padding-left: 10px; _background: url(./images/legend_bg.gif) no-repeat left center;margin-bottom: 10px;
}
.formTable {
	border-collapse: collapse;
}
.formTable tr td:first-child {
	text-indent: 10px;
}
tr td.first-child {
	text-indent: 10px;
}
.formTable td {
	border: 1px solid rgb(238, 238, 238);
}
.z-datagrid .dg_row:hover {
	background-color: rgb(255, 252, 233);
}
.z-datagrid .selected {
	background-color: rgb(216, 247, 157);
}
.z-datagrid .selected:hover {
	background-color: rgb(230, 255, 166);
}
.z-datagrid td.selector {
	padding-right: 2px; text-overflow: clip;
}
.z-datagrid td.rowNo {
	padding-right: 2px; text-overflow: clip;
}
.z-datagrid td.noellipsis {
	padding-right: 2px; text-overflow: clip;
}
table.z-datagrid {
	background: url("../images/default/thbg.gif") repeat-x top rgb(255, 255, 255); margin: 0px; border: 1px solid rgb(218, 224, 229); clear: both; border-collapse: separate; table-layout: fixed; border-spacing: 0;
}
table.z-datagrid td {
	padding: 4px 7px 0px 6px; color: rgb(85, 85, 85); line-height: 16px; border-bottom-color: rgb(237, 239, 242); border-bottom-width: 1px; border-bottom-style: solid;
}
table.z-datagrid th {
	padding: 4px 7px 0px 6px; color: rgb(85, 85, 85); line-height: 16px; border-bottom-color: rgb(237, 239, 242); border-bottom-width: 1px; border-bottom-style: solid;
}
.z-datagrid td.tightenTB {
	padding-top: 0px; padding-bottom: 0px;
}
.z-datagrid td.tightenTB img {
	vertical-align: middle;
}
table.z-datagrid td td {
	border-bottom-color: currentColor; border-bottom-width: 0px; border-bottom-style: none;
}
table.z-datagrid th td {
	border-bottom-color: currentColor; border-bottom-width: 0px; border-bottom-style: none;
}
table.z-datagrid .inTd-minor td {
	color: rgb(153, 153, 153); padding-top: 0px; padding-bottom: 0px; border-bottom-color: currentColor; border-bottom-width: 0px; border-bottom-style: none;
}
table.z-datagrid .caption {
	color: rgb(51, 51, 51);
}
table.z-datagrid td {
	overflow: hidden; white-space: nowrap; text-overflow: ellipsis;
}
table.z-datagrid thead td {
	color: rgb(51, 102, 153); font-weight: normal;
}
table.z-datagrid tr.dataTableHead td {
	color: rgb(51, 102, 153); font-weight: normal;
}
table.z-datagrid thead td {
	background: url("../images/default/th.gif") no-repeat left top; padding: 0px 7px 2px 6px; height: 24px; line-height: 22px; border-bottom-color: rgb(218, 224, 229); border-left-color: rgb(214, 214, 214); border-bottom-width: 1px; border-left-width: 0px; border-bottom-style: solid; border-left-style: solid; _padding-bottom: 0px;
}
table.z-datagrid tr.dataTableHead td {
	background: url("../images/default/th.gif") no-repeat left top; padding: 0px 7px 2px 6px; height: 24px; line-height: 22px; border-bottom-color: rgb(218, 224, 229); border-left-color: rgb(214, 214, 214); border-bottom-width: 1px; border-left-width: 0px; border-bottom-style: solid; border-left-style: solid; _padding-bottom: 0px;
}
table.z-datagrid thead td:first-child {
	background-image: none;
}
table.z-datagrid tr.dataTableHead td:first-child {
	background-image: none;
}
table.z-datagrid thead td.thOver {
	background: url("../images/default/thbg_over.gif") no-repeat left top;
}
table.z-datagrid tr.dataTableHead td.thOver {
	background: url("../images/default/thbg_over.gif") no-repeat left top;
}
table.z-datagrid tfoot td {
	height: 22px; color: rgb(119, 136, 153); line-height: 22px; padding-top: 0px; padding-bottom: 1px; vertical-align: middle; border-top-color: rgb(218, 224, 229); border-bottom-color: rgb(218, 224, 229); border-top-width: 0px; border-bottom-width: 0px; border-top-style: solid; border-bottom-style: solid; background-color: rgb(241, 245, 254);
}

i[class^="icon-"] {
  opacity: 0.8;
}
[class^="icon-"],
[class*=" icon-"] {
  display: inline-block;
  width: 14px;
  height: 14px;
  *margin-right: .3em;
  line-height: 14px;
  vertical-align: text-top;
  background-image: url("../Images/glyphicons-halflings.png");
  background-position: 14px 14px;
  background-repeat: no-repeat;
}
.icon-white { background-image: url("../Images/glyphicons-halflings-white.png"); }
.icon-glass {
  background-position: 0      0;
}
.icon-music {
  background-position: -24px 0;
}
.icon-search {
  background-position: -48px 0;
}
.icon-envelope {
  background-position: -72px 0;
}
.icon-heart {
  background-position: -96px 0;
}
.icon-star {
  background-position: -120px 0;
}
.icon-star-empty {
  background-position: -144px 0;
}
.icon-user {
  background-position: -168px 0;
}
.icon-film {
  background-position: -192px 0;
}
.icon-th-large {
  background-position: -216px 0;
}
.icon-th {
  background-position: -240px 0;
}
.icon-th-list {
  background-position: -264px 0;
}
.icon-ok {
  background-position: -288px 0;
}
.icon-remove {
  background-position: -312px 0;
}
.icon-zoom-in {
  background-position: -336px 0;
}
.icon-zoom-out {
  background-position: -360px 0;
}
.icon-off {
  background-position: -384px 0;
}
.icon-signal {
  background-position: -408px 0;
}
.icon-cog {
  background-position: -432px 0;
}
.icon-trash {
  background-position: -456px 0;
}
.icon-home {
  background-position: 0 -24px;
}
.icon-file {
  background-position: -24px -24px;
}
.icon-time {
  background-position: -48px -24px;
}
.icon-road {
  background-position: -72px -24px;
}
.icon-download-alt {
  background-position: -96px -24px;
}
.icon-download {
  background-position: -120px -24px;
}
.icon-upload {
  background-position: -144px -24px;
}
.icon-inbox {
  background-position: -168px -24px;
}
.icon-play-circle {
  background-position: -192px -24px;
}
.icon-repeat {
  background-position: -216px -24px;
}
.icon-refresh {
  background-position: -240px -24px;
}
.icon-list-alt {
  background-position: -264px -24px;
}
.icon-lock {
  background-position: -287px -24px;
}
.icon-flag {
  background-position: -312px -24px;
}
.icon-headphones {
  background-position: -336px -24px;
}
.icon-volume-off {
  background-position: -360px -24px;
}
.icon-volume-down {
  background-position: -384px -24px;
}
.icon-volume-up {
  background-position: -408px -24px;
}
.icon-qrcode {
  background-position: -432px -24px;
}
.icon-barcode {
  background-position: -456px -24px;
}
.icon-tag {
  background-position: 0 -48px;
}
.icon-tags {
  background-position: -25px -48px;
}
.icon-book {
  background-position: -48px -48px;
}
.icon-bookmark {
  background-position: -72px -48px;
}
.icon-print {
  background-position: -96px -48px;
}
.icon-camera {
  background-position: -120px -48px;
}
.icon-font {
  background-position: -144px -48px;
}
.icon-bold {
  background-position: -167px -48px;
}
.icon-italic {
  background-position: -192px -48px;
}
.icon-text-height {
  background-position: -216px -48px;
}
.icon-text-width {
  background-position: -240px -48px;
}
.icon-align-left {
  background-position: -264px -48px;
}
.icon-align-center {
  background-position: -288px -48px;
}
.icon-align-right {
  background-position: -312px -48px;
}
.icon-align-justify {
  background-position: -336px -48px;
}
.icon-list {
  background-position: -360px -48px;
}
.icon-indent-left {
  background-position: -384px -48px;
}
.icon-indent-right {
  background-position: -408px -48px;
}
.icon-facetime-video {
  background-position: -432px -48px;
}
.icon-picture {
  background-position: -456px -48px;
}
.icon-pencil {
  background-position: 0 -72px;
}
.icon-map-marker {
  background-position: -24px -72px;
}
.icon-adjust {
  background-position: -48px -72px;
}
.icon-tint {
  background-position: -72px -72px;
}
.icon-edit {
  background-position: -96px -72px;
}
.icon-share {
  background-position: -120px -72px;
}
.icon-check {
  background-position: -144px -72px;
}
.icon-move {
  background-position: -168px -72px;
}
.icon-step-backward {
  background-position: -192px -72px;
}
.icon-fast-backward {
  background-position: -216px -72px;
}
.icon-backward {
  background-position: -240px -72px;
}
.icon-play {
  background-position: -264px -72px;
}
.icon-pause {
  background-position: -288px -72px;
}
.icon-stop {
  background-position: -312px -72px;
}
.icon-forward {
  background-position: -336px -72px;
}
.icon-fast-forward {
  background-position: -360px -72px;
}
.icon-step-forward {
  background-position: -384px -72px;
}
.icon-eject {
  background-position: -408px -72px;
}
.icon-chevron-left {
  background-position: -432px -72px;
}
.icon-chevron-right {
  background-position: -456px -72px;
}
.icon-plus-sign {
  background-position: 0 -96px;
}
.icon-minus-sign {
  background-position: -24px -96px;
}
.icon-remove-sign {
  background-position: -48px -96px;
}
.icon-ok-sign {
  background-position: -72px -96px;
}
.icon-question-sign {
  background-position: -96px -96px;
}
.icon-info-sign {
  background-position: -120px -96px;
}
.icon-screenshot {
  background-position: -144px -96px;
}
.icon-remove-circle {
  background-position: -168px -96px;
}
.icon-ok-circle {
  background-position: -192px -96px;
}
.icon-ban-circle {
  background-position: -216px -96px;
}
.icon-arrow-left {
  background-position: -240px -96px;
}
.icon-arrow-right {
  background-position: -264px -96px;
}
.icon-arrow-up {
  background-position: -289px -96px;
}
.icon-arrow-down {
  background-position: -312px -96px;
}
.icon-share-alt {
  background-position: -336px -96px;
}
.icon-resize-full {
  background-position: -360px -96px;
}
.icon-resize-small {
  background-position: -384px -96px;
}
.icon-plus {
  background-position: -408px -96px;
}
.icon-minus {
  background-position: -433px -96px;
}
.icon-asterisk {
  background-position: -456px -96px;
}
.icon-exclamation-sign {
  background-position: 0 -120px;
}
.icon-gift {
  background-position: -24px -120px;
}
.icon-leaf {
  background-position: -48px -120px;
}
.icon-fire {
  background-position: -72px -120px;
}
.icon-eye-open {
  background-position: -96px -120px;
}
.icon-eye-close {
  background-position: -120px -120px;
}
.icon-warning-sign {
  background-position: -144px -120px;
}
.icon-plane {
  background-position: -168px -120px;
}
.icon-calendar {
  background-position: -192px -120px;
}
.icon-random {
  background-position: -216px -120px;
}
.icon-comment {
  background-position: -240px -120px;
}
.icon-magnet {
  background-position: -264px -120px;
}
.icon-chevron-up {
  background-position: -288px -120px;
}
.icon-chevron-down {
  background-position: -313px -119px;
}
.icon-retweet {
  background-position: -336px -120px;
}
.icon-shopping-cart {
  background-position: -360px -120px;
}
.icon-folder-close {
  background-position: -384px -120px;
}
.icon-folder-open {
  background-position: -408px -120px;
}
.icon-resize-vertical {
  background-position: -432px -119px;
}
.icon-resize-horizontal {
  background-position: -456px -118px;
}
.icon-hdd {
  background-position: 0 -144px;
}
.icon-bullhorn {
  background-position: -24px -144px;
}
.icon-bell {
  background-position: -48px -144px;
}
.icon-certificate {
  background-position: -72px -144px;
}
.icon-thumbs-up {
  background-position: -96px -144px;
}
.icon-thumbs-down {
  background-position: -120px -144px;
}
.icon-hand-right {
  background-position: -144px -144px;
}
.icon-hand-left {
  background-position: -168px -144px;
}
.icon-hand-up {
  background-position: -192px -144px;
}
.icon-hand-down {
  background-position: -216px -144px;
}
.icon-circle-arrow-right {
  background-position: -240px -144px;
}
.icon-circle-arrow-left {
  background-position: -264px -144px;
}
.icon-circle-arrow-up {
  background-position: -288px -144px;
}
.icon-circle-arrow-down {
  background-position: -312px -144px;
}
.icon-globe {
  background-position: -336px -144px;
}
.icon-wrench {
  background-position: -360px -144px;
}
.icon-tasks {
  background-position: -384px -144px;
}
.icon-filter {
  background-position: -408px -144px;
}
.icon-briefcase {
  background-position: -432px -144px;
}
.icon-fullscreen {
  background-position: -456px -144px;
}


.hide {
  display: none;
}

.show {
  display: block;
}

.invisible {
  visibility: hidden;
}
